body{
 background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/px_by_Gre3g.png");
}

h1{
  color: #fff;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center;
}

p{
  color: #fff;
  font-family: arial, san-serif;
  font-size: 14px;
  text-align: center;
}

p a{
  color: #fff;
}

#photoShow{
  border: 5px solid #fff;
  height: 300px;
  margin: 0px auto;
  width: 400px;

  -moz-box-shadow: 0px 0px 25px black;
  -webkit-box-shadow: 0px 0px 25px black;
  box-shadow: 0px 0px 25px black;
  position: absolute;
  z-index: 0;
}
#photoShow img{
  align: center;
}
